<div id = "poruka"><h1>Sve za dom - mjesto gdje Vaš dom postaje ljepši!</h1></div>
<div id = "slike"></div>
<div id = "kontakt">
    <ul>
        <li>Kontakt</li>
        <li>Newsletter</li>
        <li>Pretplati se</li>
    </ul>
</div>