<div class = "trakaindex">
    <div id = "lijevo">
        <img src="/images/namjestaj.jpg" alt="Logo">
    </div>
    <div id = "trenakt"></div>
    <div id="desno">
        <img src="/images/search.png" alt="Tražilica">
        <a href="/cart" target="_self" id = "prikazKosarice">
            <img src="/images/cart.png" alt="Košarica" id = "Ikona košarice">
        </a>
        <span id = "brojProizvoda"></span>
    </div>
</div>