<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/styles/cart.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Košarica</title>
    <script src = "/scripts/cart.js" defer></script>
</head>
<body>
    <%- include('partials/header'); %>             
    <div id= "kosarica">
        <div id = "nazivi">
            <span id ="naziv">NAZIV</span>
            <span id ="kolicina">KOLIČINA</span>
        </div>
    </div>
</body>
</html>