<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/traka.css">
    <link rel="stylesheet" href="/styles/navpodrucje.css">
    <link rel="stylesheet" href="/styles/proizvodi.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Namještaj</title>
</head>
<body>
    <%- include('partials/header'); %>
    <nav class = "izbornik">
        <ul id = "kategorije">
        </ul>
    </nav>
    <%- include('partials/footer'); %>
    <script type = "module" src = "/scripts/kategorije.js"></script>
</body>
</html>