* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    height: 100vh; 
    margin: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.8)),
    url("../images/pozadina.jpg");    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

[alt = "Logo"] {
    display: inline;
    width: 6vw;
    min-width: 65px;
    height: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.trakaindex {
    position: fixed;  
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1vw;
    top: 10px; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 80%; 
    max-width: 1200px; 
    background-color: rgba(255, 240, 219, 1);
    border-radius: 10px; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    z-index: 2000;
}

#lijevo {
    margin-right: auto;
    display: inline;
}

.trakaindex #trenakt {
    font-weight: bold;
    font-size: clamp(11px, 1.6vw, 22px);
    display: inline;
}

#desno {
    margin-left: auto;
}

#desno img {
    display: inline;
    height: 3vw;
    margin-top: 5px;
    margin-bottom: 4px;
    min-height: 35px;
}

#brojProizvoda {
    border-radius: 10px;
    background-color: rgb(240, 60, 92);
    color: white;
    padding: 3px;
    position: absolute;
    bottom: 10%;
    right: 0.9%;
    font-size: clamp(8px, 1.6vw, 10px);
}

#brojProizvoda:empty {
    padding: 0;
    background-color: transparent;
}

#kosarica {
    background-color:  rgba(255, 240, 219, 0.9);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    border-radius: 10px; 
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 15vh;
    z-index: 5;
    padding: 6vh 3vw;
    padding-bottom: 10vh;
}

#kosarica>button {
    position: absolute;
    bottom: 1vh;
    left: 50%;
    transform: translateX(-50%);
    font-size: clamp(14px, 1.3vw, 18px);
    padding: 3px;
    border-radius: 10px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.6);
    background-color:  rgba(255, 240, 219, 1);
    cursor: pointer;
}

#kosarica>button:hover {
    background-color:  rgba(255, 240, 219, 0.2);
}

.proizvod {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 5px;
    margin-right: 200px;
}

#nazivi {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: clamp(14px, 1.3vw, 22px);
    margin-bottom: 1vh;
    font-weight: bold;
}

.proizvod button {
    background-color: rgb(194, 138, 97, 1);
    color: white;
    padding: 4px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.proizvod button:hover {
    background-color: rgb(194, 138, 97, 0.8);
}

