#slike {
    margin: 7% auto;
    margin-bottom: 10px;
    width: 60%;
    column-count: 2;
    column-gap: 4%;
    row-gap: 5%;
}

#slike div>img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-top: 5%;
    display: block;
}

#slike div:hover > img {
    filter: brightness(0.7);
}

#slike div {
    position: relative;
    text-align: center;
    font-weight: bold;
    font-size: 1.6vw;
    break-inside: avoid; 
    overflow: hidden;  
}

#slike div div {
    position: absolute;
    bottom: 4vw;
    left: 50%;
    transform: translateX(-10%);
    display: none; 
    z-index: 2;
}

#slike div:hover div {
    display: block; 
}

#slike div div:hover {
    cursor: pointer;
}

#slike div div img {
    width: 20%; 
    height: auto;
    background-color:  rgba(255, 240, 219, 0.9);
    border-radius: 10px;
}

.naziv {
    display: block;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem; 
    font-size: 1.4vw;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color:  rgba(255, 240, 219, 0.9);
}

#prikazKolicine {
    position: absolute;
    bottom: 3vw;
    right: 1.5vw;
    z-index: 900;
    background-color:  rgba(255, 240, 219, 0.9);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    padding: 1%;
    border-radius: 10px;
    font-size: 1.6vw;
}

@media (max-width: 1024px) {
    #slike {
        margin-top: 60%;
        width: 90%;
    }
    #slike div {
        break-inside: avoid;
    }
    #slike div>img {
        margin-top: 10%;
    }
    #slike div div img {
        width: 30%;
        height: auto;
        object-fit: contain;
    }
    #prikazKolicine {
        font-size: 2.5vw;
        bottom: 5.5vw;
    }
    .naziv {
        font-size: 2.2vw; 
    }
    #slike div div {
        bottom: 5.8vw;
        transform: translateX(-15%);
    }
}
